.main {
    margin: 40px auto 0;
    padding: 0 30px 130px;
    display: flex;
    gap: 20px;
}

.questions__section {
    flex-grow: 1;
    gap: 0;
    padding: 24px 20px 40px;
    box-shadow: 0 4px 10px 0 #6a63761a;
}