.htmlText {
    white-space: pre-wrap;
}

.htmlText p {
    line-height: 140%;
}

.htmlText code {
    font-family: monospace;
    padding: 1.5px 5px;
    border-radius: 12px;
    background: linear-gradient(180deg, var(--color-white-900) 0%, #e8daff 100%);
}