:root {
    --color-white-900: #ffffff;

    --color-black-900: #191919;
    --color-black-800: #303030;
    --color-black-700: #474747;
    --color-black-600: #5e5e5e;
    --color-black-500: #757575;
    --color-black-400: #8c8c8c;
    --color-black-300: #a3a3a3;
    --color-black-200: #bababa;
    --color-black-100: #d1d1d1;
    --color-black-50: #e8e8e8;
    --color-black-25: #f4f4f4;
    --color-black-10: #f8f8f8;

    --color-purple-900: #400799;
    --color-purple-800: #5509cc;
    --color-purple-700: #6a0bff;
    --color-purple-600: #883cff;
    --color-purple-500: #a66dff;
    --color-purple-400: #c39dff;
    --color-purple-300: #d2b6ff;
    --color-purple-200: #e1ceff;
    --color-purple-100: #f0e7ff;
    --color-purple-50: #fdf4ff;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}

input, button {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
    background: none;
}